<nav>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active">
        <i aria-hidden="true" class="fa-solid fa-layer-group icon-shadow"></i>
        <span >Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/cash-data" routerLinkActive="active">
        <i aria-hidden="true" class="fa-solid fa-money-bill-wave icon-shadow"></i>
        <span >Cash Data</span>
      </a>
    </li>
    <li>
      <a routerLink="/projections" routerLinkActive="active">
        <i class="fa-solid fa-chart-line icon-shadow"></i>
        <span >Projections</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i aria-hidden="true" class="fa-solid fa-gear icon-shadow"></i>
        <span >Settings</span>
      </a>
    </li>
  </ul>
</nav>